:root {
    --lh-color-primany: #1966ff; // logo 颜色

    --jy-color-white: #fff;
    --jy-color-black: #2b2f38;
    --jy-color-primary: #1966ff;
    --jy-border-color: #f1f2f3;
    --jy-color-hover: #3c3c3c;
  
    // 菜单的背景色
    --jy-bg-menuMainColor: var(--jy-color-white) !important;
    // 选中的菜单背景色
    --jy-bg-menuActiveColor: var(--jy-color-black) !important;
    // 鼠标移入到菜单的背景色
    --jy-bg-menuHoverColor: var(--jy-color-black) !important;
    // 菜单文字默认颜色
    --jy-text-menuMainColor: var(--jy-color-black) !important;
    //  选中的菜单文字颜色
    --jy-text-menuActiveColor: var(--jy-color-white) !important;
    // 鼠标移入到菜单的文字色
    --jy-text-menuHoverColor: var(--jy-color-white) !important;
    // header的背景颜色
    --jy-bg-headerBarColor: var(--jy-color-white) !important;
    --jy-color-user-hover: var(--jy-color-hover-rgba) !important;
    --jy-border-color-light: var(--jy-border-color) !important;
}

.el-container {
  height: 100vh;
}

// 侧边栏 -----------------------------------------------------------------
.el-aside {
    border-right: 2px solid #eee;
  .aside-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--jy-color-primary);
    > img {
      width: 45px;
    }
    > div {
      margin-left: 10px;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
}
.el-menu {
    border: none;
    .el-sub-menu__title,
    .el-menu-item {
      color: var(--jy-text-menuMainColor) !important;
      background-color: var(jy-bg-menuMainColor) !important;
    }
    //鼠标滑过央视
    .el-menu-item:hover{
      color: var(--jy-text-menuHoverColor) !important;
      background-color: var(--jy-bg-menuHoverColor) !important;
    }
    //选中样式
    .el-menu-item.is-active {
      color: var(--jy-text-menuActiveColor) !important;
      background-color: var(--jy-bg-menuActiveColor) !important;
    }
  }
.aside-60 {
  width: 60px !important;
  transition: width 0.3s ease;
}
.aside-200 {
  width: 200px !important;
  transition: width 0.3s ease;
}

.el-header {
//   background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  .header-left-icon{
    margin-right: 15px;
    cursor: pointer;
  }
  .header-right-icon{
    height: inherit !important;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-right: 8px;
    cursor: pointer;
  }
  .header-right-icon:hover{
    background-color: #eee;
  }
  .header-right-switch{
    height: inherit !important;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-right: 10px;
  }
  .header-right-switch:hover{
    background-color: #eee;
  }

  .header-right-avatar{
    display: flex;
    align-items: center;
    cursor: pointer;
    .el-dropdown-link{
        display: flex;
        align-items: center;
        outline: none;
        .el-avatar{
            margin-right: 10px;
        }
    }
  }
}

// .el-main {

// }
